@charset "UTF-8";

body{
    background-color: #82f4d8;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
color: #1b5e3a;
}

#principal{
    text-align: center;
}

h2{
color: #024714;
}

.basico{
    color: #024714;
}

.intermediario{
    color: #b7b403;
}

.avancado{
    color: #940505;
}

.destaque{
    background-color: #f3ef2280;
}